*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar{
    height: 60px;
    width: 100%;
    border: 1px solid;
    background-color:#1A2224;
    display: flex;
}

.icon{
    height: 40px;
    width: 300px;
    border: 1px solid;
    margin-left: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.list{
    height: 50px;
    width: 50%;
    color: white;

}

ul{
    width: 100%;
    height: 100%;
    display: flex;   
    justify-content: space-between;
    align-items: center; 
    list-style: none;
}

ul li:hover{
    color: blue;
}

.search{
    height: 40px;
    width: 222px;
    border: 1px solid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#icon2{
    height: 30px;
    width: 30px;
    background-image: url(./PICTURE/2.\ amazon.svg);
}

.mainsection{
    height: 710px; 
    width: 100%; 
   background-color: black;
}

.section1{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
}

.heading{
    height: 35px;
    width: 300px;
    margin-left: 70px;
}

.div1{
    height: 175px;
    width: 100%;
    display: flex;
}

.insidediv{
    height: 175px;
    width: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainfooter{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.footer1{
    height: 500px;
    width: 90%;
    background-color: #1A2224;
}

.insdiefooter1{
    height: 175px;
    width: 100%;
    display: flex;
    align-items: center;
}

.insdiefooter2{
    height: 175px;
    width: 100%;
    display: flex;
    align-items: center;
}

.insdiefooter3{
    height: 175px;
    width: 100%;
    display: flex;
}

.smallfooter1{
    height: 125px;
    width: 50%;
    color: white;
    padding: 0px 20px;
    border-left: 3px solid blue;
}